<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <title>VOCODER</title>
</head>


<body>
    <section class="hero is-dark is-medium">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Hello I am VOCODER
            </h1>
            <h2 class="subtitle" id="comment">...</h2>

            <div class="control">
                <textarea class="textarea has-fixed-size" id="code"></textarea>
            </div>
            
          </div>
        </div>
        <div class="hero">

        </div>
    </section>


    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script>
        if(annyang){
            console.log("Annyang works!");            

            var commands ={
                'hi' : greetings,
                'if' : ifState,
                'x' : x,
                'y' : y,
                'less than' : lessThan,
                'while' : whileState,
                'finish' : colon,
                'indent' : indent,
                'right' : right,
                'left' : left,
                'down' : down
            }
            function x(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = " ";
                document.getElementById("code").innerHTML = code+"x";
            }
            function y(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = " ";
                document.getElementById("code").innerHTML = code+"y";
            }
            function lessThan(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = " ";
                document.getElementById("code").innerHTML = code+"<";
            }

            function greetings(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "Welcome ! I am listening...";
                document.getElementById("code").innerHTML = code+"";
            }
            function ifState(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "waiting condition ...";
                document.getElementById("code").innerHTML = code+"if ";
            }
            function whileState(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "waiting condition...";
                document.getElementById("code").innerHTML = code+"while ";
            }
            function colon(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "";
                document.getElementById("code").innerHTML = code+":";
            }
            function down(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "new line added";
                document.getElementById("code").innerHTML = code+"\n";
            }
            function indent(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "new indent added";
                document.getElementById("code").innerHTML = code+"    ";
            }
            function right(){
                var code = document.getElementById("code").textContent;
                document.getElementById("comment").innerHTML = "navigation";
                document.getElementById("code").innerHTML = code+"⟼";
            }
            function left(){
                var code = document.getElementById("code").textContent;
                
                document.getElementById("comment").innerHTML = "navigation";
                document.getElementById("code").innerHTML = code+"⟻";
            }

            // Add Commands
            annyang.addCommands(commands);
            // Start Listening
            
        }
        annyang.start({ autoRestart: true, continuous: false });

    </script>

    
</body>

</html>